* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: gold;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #14161a;
}
